/core/cmake*
/core/build
/.idea
/.vscode
.clangd
/web/fem-webui/node_modules
/web/fem-webui/.vscode
/web/fem-backend/node_modules
/web/fem-backend/dist
/web/fem-backend/build
core/.cache
# TODO: will separate the web part to a submodule.
